2- Se tiene un registro de transacciones bancarias, de la forma (nro de transacción, tipo de transacción, cuenta origen, cuenta destino, fecha, hora, monto). Se pide resolver en Pandas:
    A. Validar que todas las transacciones cuenten con un tipo de transacción.
    B. Validar que para las transacciones del tipo transferencia, exista siempre tanto cuenta origen como cuenta destino.
    C. Verificar que todas las transacciones del tipo transferencia, depósito y extracción cuenten con montos distintos de cero.
    D. Indicar cuáles fueron las 10 transacciones de mayor monto.
    E. Indicar cuál es el tipo de transacción que registra mayor monto promedio.
    F. Indicar cuáles son las 5 cuentas con mayor cantidad de transacciones.
    G. Indicar cuáles son las 5 cuentas con mayor monto involucrado.
    H. Para el tipo de transacción con mayor cantidad de monto promedio, indicar cuales son las 5 cuentas con más transacciones.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import datetime

In [2]:
tam=15
def crearLista(x):
    listaTipos=['transferencia','deposito','extraccion']
    listaReturn=[]
    for i in range(x):
        listaReturn.append(listaTipos[random.randint(0,2)])
    return listaReturn

def random_date(start, end, tipo):
    """Generate a random datetime between `start` and `end`"""
    x = start + datetime.timedelta(seconds=random.randint(0, int((end - start).total_seconds())),
    ) 
    return x.date() if tipo=='fecha' else x.time()

l=[]
for x in range (tam): 
    l.append(random_date(pd.to_datetime('1/1/2008'),pd.to_datetime('1/1/2009'),'fecha'))
h=[]
for x in range (tam): 
    h.append(random_date(pd.to_datetime('1/1/2008'),pd.to_datetime('1/1/2009'),'hora'))
    

alumn = {'NROTRANSACCION':random.sample(range(100), tam),
         'TIPO':crearLista(tam),
         'CUENTAORIGEN':np.random.randint(1000,1005,size=tam),
         'CUENTADESTINO':np.random.randint(1000,1005,size=tam),
        'FECHA':l,
         'HORA':h,
        'MONTO':np.random.randint(0,100,size=tam)}
df = pd.DataFrame(alumn)
df.head(15)

,NROTRANSACCION,TIPO,CUENTAORIGEN,CUENTADESTINO,FECHA,HORA,MONTO
0,74,extraccion,1001,1001,2008-08-28,03:55:42,91
1,44,deposito,1001,1000,2008-08-14,00:01:16,58
2,60,extraccion,1001,1004,2008-05-28,17:20:50,2
3,91,deposito,1001,1002,2008-07-11,12:14:34,6
4,27,deposito,1001,1004,2008-09-03,21:23:00,56
5,7,extraccion,1004,1004,2008-08-28,13:01:02,95
6,45,deposito,1001,1002,2008-11-04,03:04:13,10
7,81,deposito,1002,1003,2008-11-05,20:08:02,86
8,65,deposito,1003,1003,2008-05-26,10:07:45,11
9,55,extraccion,1003,1001,2008-05-09,01:51:23,50
10,59,deposito,1001,1002,2008-02-05,22:28:06,11
11,92,extraccion,1004,1002,2008-07-30,20:26:37,65
12,90,extraccion,1002,1002,2008-12-12,16:57:33,80
13,29,deposito,1002,1004,2008-10-15,15:49:11,38
14,57,deposito,1002,1001,2008-08-15,06:28:47,46

A. Validar que todas las transacciones cuenten con un tipo de transacción

In [3]:
df.TIPO.hasnans

False

B. Validar que para las transacciones del tipo transferencia, exista siempre tanto cuenta origen como cuenta destino.

In [10]:
if 'transferencia' in df.TIPO.values:
    grouped =  df.groupby('TIPO').get_group('transferencia') 
    True in (grouped['CUENTAORIGEN'].isnull() | grouped['CUENTADESTINO'].isnull()).values
else: print('no hay transferencias')

no hay transferencias

C. Verificar que todas las transacciones del tipo transferencia, depósito y extracción cuenten con montos distintos de cero.

In [11]:
False in (df[(df['TIPO']=='transferencia') | (df['TIPO']=='deposito') | (df['TIPO']=='extraccion')].MONTO != 0).values

False

D. Indicar cuáles fueron las 10 transacciones de mayor monto.

In [12]:
df.sort_values(by='MONTO',ascending=False).head(10).TIPO.values

array(['extraccion', 'extraccion', 'deposito', 'extraccion', 'extraccion',
       'deposito', 'deposito', 'extraccion', 'deposito', 'deposito'],
      dtype=object)

E. Indicar cuál es el tipo de transacción que registra mayor monto promedio.

In [60]:
transaccionMayorMonto=df.groupby('TIPO').agg({'MONTO':'mean'}).reset_index().TIPO.values[0]

F. Indicar cuáles son las 5 cuentas con mayor cantidad de transacciones.

In [14]:
cuentas = df['CUENTAORIGEN'].append(df['CUENTADESTINO'])
dfcuentas = pd.DataFrame()
dfcuentas['cuentas']=cuentas
dfcuentas['cant']=1

In [15]:
dfcuentas.groupby('cuentas').agg({'cant':'sum'}).sort_values(by='cant',ascending=False).reset_index().cuentas.values[0:5]

array([1001, 1002, 1004, 1003, 1000], dtype=int64)

G. Indicar cuáles son las 5 cuentas con mayor monto involucrado.

In [34]:
dcuentas = pd.concat([df['CUENTAORIGEN'].append(df['CUENTADESTINO']),df['MONTO'].append(df['MONTO'])],axis=1)

In [44]:
dcuentas.rename(index=str,columns={0:"CUENTAS"},inplace=True).head()

AttributeError: 'NoneType' object has no attribute 'head'

In [56]:
dcuentas.groupby('CUENTAS').agg({'MONTO':'sum'}).sort_values(by='MONTO',ascending=False).head(5).reset_index().CUENTAS

0    1002
1    1001
2    1004
3    1003
4    1000
Name: CUENTAS, dtype: int64

H. Para el tipo de transacción con mayor cantidad de monto promedio, indicar cuales son las 5 cuentas con más transacciones.

In [63]:
groupedTipo=df.groupby('TIPO').get_group(transaccionMayorMonto)

In [71]:
tipoTransac = groupedTipo['CUENTAORIGEN'].append(groupedTipo['CUENTADESTINO'])
dfTran = pd.DataFrame()
dfTran['cuentas']=tipoTransac
dfTran['cant']=1
dfTran.head()

    cuentas  cant
1      1001     1
3      1001     1
4      1001     1
6      1001     1
7      1002     1
8      1003     1
10     1001     1
13     1002     1
14     1002     1
1      1000     1

In [76]:
dfTran.groupby('cuentas').agg({'cant':'sum'}).sort_values(by='cant',ascending=False).head(5).reset_index().cuentas.values

array([1001, 1002, 1003, 1004, 1000], dtype=int64)