Guía 1: Pandas


1- Dado el registro de notas de los alumnos de la forma (padrón, materia, nota, fecha). Se pide resolver utilizando Pandas:
    A. Cuál es el promedio general de notas.
    B. Cuál es la nota más alta y la nota más baja registrada durante el año 2019.
    C. Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.
    D. Cuál es la nota promedio por materia.
    E. Cuál es la nota promedio por padrón.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Parte A

In [2]:
alumn = {'PADRON':[8201,1201,1201,6314,9230,9201,8941,8231,8135,8135],'MAT':['am2','an1','am2','an1','fis2','am2','am2','am2','fis2','am2'],
         'NOTA':[5,2,10,5,7,9,8,7,10,5],'FECHA':['3/6/2018','1/1/2019','3/6/2018','3/6/2018','1/1/2019','1/1/2019','1/1/2019','1/1/2019','1/1/2019','1/1/2019']}
dfalumn = pd.DataFrame(alumn)
dfalumn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PADRON  10 non-null     int64
 1   MAT     10 non-null     object
 2   NOTA    10 non-null     int64
 3   FECHA   10 non-null     object
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

In [3]:
promedioGeneral = dfalumn.NOTA.mean()

Parte B

In [4]:
dfalumn['FECHA'] = dfalumn['FECHA'].apply(lambda x: pd.to_datetime(x))
dfalumn.head()

   PADRON   MAT  NOTA      FECHA
0    8201   am2     5 2018-03-06
1    1201   an1     2 2019-01-01
2    1201   am2    10 2018-03-06
3    6314   an1     5 2018-03-06
4    9230  fis2     7 2019-01-01

In [5]:
dfalumn2019=dfalumn[(dfalumn['FECHA'].dt.year==2019)]
dfalumn2019.head()

   PADRON   MAT  NOTA      FECHA
1    1201   an1     2 2019-01-01
4    9230  fis2     7 2019-01-01
5    9201   am2     9 2019-01-01
6    8941   am2     8 2019-01-01
7    8231   am2     7 2019-01-01

In [6]:
min2019 = dfalumn2019.NOTA.describe().loc['min']
min2019

2.0

In [7]:
max2019 = dfalumn2019.NOTA.describe().loc['max']
max2019

10.0

Parte C

In [8]:
dfalumn['APROBADA'] = (dfalumn.NOTA >= 4).astype(int)
dfalumn.head()

   PADRON   MAT  NOTA      FECHA  APROBADA
0    8201   am2     5 2018-03-06         1
1    1201   an1     2 2019-01-01         0
2    1201   am2    10 2018-03-06         1
3    6314   an1     5 2018-03-06         1
4    9230  fis2     7 2019-01-01         1

In [9]:
dfalumnUltimoCuatri=dfalumn[(dfalumn['FECHA'].dt.year==2019) & (dfalumn['FECHA'].dt.month==1)]
dfalumnUltimoCuatri

   PADRON   MAT  NOTA      FECHA  APROBADA
1    1201   an1     2 2019-01-01         0
4    9230  fis2     7 2019-01-01         1
5    9201   am2     9 2019-01-01         1
6    8941   am2     8 2019-01-01         1
7    8231   am2     7 2019-01-01         1
8    8135  fis2    10 2019-01-01         1
9    8135   am2     5 2019-01-01         1

In [11]:
dfalumnUltimoCuatri = dfalumnUltimoCuatri.groupby('PADRON').agg({'APROBADA':['sum']})['APROBADA'].sort_values('sum',ascending=False)

In [28]:
cantidadMat = dfalumnUltimoCuatri.reset_index()['sum'].loc[0]
listaPadrones=dfalumnUltimoCuatri[dfalumnUltimoCuatri['sum']==cantidadMat].reset_index()['PADRON'].to_list()
listaPadrones

[8135]

Parte D

In [34]:
dfalumn.groupby('MAT').agg({'NOTA':'mean'}).NOTA.to_dict()

{'am2': 7.333333333333333, 'an1': 3.5, 'fis2': 8.5}

Parte E

In [32]:
dfalumn.groupby('PADRON').agg({'NOTA':'mean'}).NOTA.to_dict()

{1201: 6.0,
 6314: 5.0,
 8135: 7.5,
 8201: 5.0,
 8231: 7.0,
 8941: 8.0,
 9201: 9.0,
 9230: 7.0}