2- Se tiene un registro de transacciones bancarias, de la forma (nro de transacción, tipo de transacción, cuenta origen, cuenta destino, fecha, hora, monto). Se pide resolver en Pandas:
    A. Validar que todas las transacciones cuenten con un tipo de transacción.
    B. Validar que para las transacciones del tipo transferencia, exista siempre tanto cuenta origen como cuenta destino.
    C. Verificar que todas las transacciones del tipo transferencia, depósito y extracción cuenten con montos distintos de cero.
    D. Indicar cuáles fueron las 10 transacciones de mayor monto.
    E. Indicar cuál es el tipo de transacción que registra mayor monto promedio.
    F. Indicar cuáles son las 5 cuentas con mayor cantidad de transacciones.
    G. Indicar cuáles son las 5 cuentas con mayor monto involucrado.
    H. Para el tipo de transacción con mayor cantidad de monto promedio, indicar cuales son las 5 cuentas con más transacciones.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import datetime

In [2]:
tam=1500
def crearLista(x):
    listaTipos=['transferencia','deposito','extraccion']
    listaReturn=[]
    for i in range(x):
        listaReturn.append(listaTipos[random.randint(0,2)])
    return listaReturn

def random_date(start, end, tipo):
    """Generate a random datetime between `start` and `end`"""
    x = start + datetime.timedelta(seconds=random.randint(0, int((end - start).total_seconds())),
    ) 
    return x.date() if tipo=='fecha' else x.time()

l=[]
for x in range (tam): 
    l.append(random_date(pd.to_datetime('1/1/2008'),pd.to_datetime('1/1/2009'),'fecha'))
h=[]
for x in range (tam): 
    h.append(random_date(pd.to_datetime('1/1/2008'),pd.to_datetime('1/1/2009'),'hora'))
    

alumn = {'NROTRANSACCION':list(range(tam)),
         'TIPO':crearLista(tam),
         'CUENTAORIGEN':np.random.randint(1000,1100,size=tam),
         'CUENTADESTINO':np.random.randint(1000,1100,size=tam),
        'FECHA':l,
         'HORA':h,
        'MONTO':np.random.randint(1,100,size=tam)}
df = pd.DataFrame(alumn)
df.head(15)

,NROTRANSACCION,TIPO,CUENTAORIGEN,CUENTADESTINO,FECHA,HORA,MONTO
0,0,deposito,1031,1003,2008-01-16,02:42:51,9
1,1,deposito,1029,1060,2008-11-04,06:23:40,52
2,2,extraccion,1003,1090,2008-03-01,11:57:30,97
3,3,deposito,1031,1074,2008-11-19,02:48:07,3
4,4,transferencia,1095,1036,2008-10-15,10:00:10,3
5,5,transferencia,1036,1073,2008-04-02,04:22:40,63
6,6,transferencia,1077,1096,2008-12-06,21:50:07,95
7,7,transferencia,1001,1092,2008-04-07,00:41:34,3
8,8,extraccion,1065,1079,2008-04-05,10:32:37,15
9,9,deposito,1014,1085,2008-10-24,14:36:04,38
10,10,transferencia,1085,1072,2008-06-09,22:57:43,6
11,11,transferencia,1043,1047,2008-01-15,19:12:54,57
12,12,extraccion,1005,1014,2008-01-31,02:37:46,86
13,13,extraccion,1083,1058,2008-01-12,16:42:47,68
14,14,deposito,1074,1032,2008-12-24,05:33:45,51

A. Validar que todas las transacciones cuenten con un tipo de transacción

In [3]:
if df.TIPO.hasnans:
    print ('Hay una transaccion sin nada')
else:
    print ('Validado')

Validado

B. Validar que para las transacciones del tipo transferencia, exista siempre tanto cuenta origen como cuenta destino.

In [4]:
if 'transferencia' in df.TIPO.values:
    grouped =  df.groupby('TIPO').get_group('transferencia') 
    if True in (grouped['CUENTAORIGEN'].isnull() | grouped['CUENTADESTINO'].isnull()).values:
        print('no es valido')
    else:
        print('es valido')
else: print('no hay transferencias')

es valido

C. Verificar que todas las transacciones del tipo transferencia, depósito y extracción cuenten con montos distintos de cero.

In [5]:
if False in (df[(df['TIPO']=='transferencia') | (df['TIPO']=='deposito') | (df['TIPO']=='extraccion')].MONTO != 0).values:
    print ('hay una transferencia, depósito o extracción con monto distinto de cero')
else:
    print('Verifica')

Verifica

D. Indicar cuáles fueron las 10 transacciones de mayor monto.

In [6]:
resD = df.sort_values(by='MONTO',ascending=False).head(10).NROTRANSACCION.values
print ('Las 10 transacciones de mayor monto son: %s' %', '.join(map(str, resD)))

Las 10 transacciones de mayor monto son: 179, 1232, 1397, 298, 1128, 686, 663, 366, 1480, 1137

E. Indicar cuál es el tipo de transacción que registra mayor monto promedio.

In [7]:
transaccionMayorMonto=df.groupby('TIPO').agg({'MONTO':'mean'}).reset_index().sort_values(by='MONTO',ascending=False).TIPO.values[0]
print ('La transacción de mayor monto es: %s'%transaccionMayorMonto)

La transacción de mayor monto es: extraccion

F. Indicar cuáles son las 5 cuentas con mayor cantidad de transacciones.

In [8]:
cuentas = df['CUENTAORIGEN'].append(df['CUENTADESTINO'])
dfcuentas = pd.DataFrame()
dfcuentas['cuentas']=cuentas
dfcuentas['cant']=1

In [9]:
resF=dfcuentas.groupby('cuentas').agg({'cant':'sum'}).sort_values(by='cant',ascending=False).reset_index().cuentas.values[0:5]

In [10]:
print ('Las 5 cuentas con mas transacciones son: %s' %', '.join(map(str, resF)))

Las 5 cuentas con mas transacciones son: 1096, 1089, 1074, 1003, 1053

G. Indicar cuáles son las 5 cuentas con mayor monto involucrado.

In [11]:
dcuentas = pd.concat([df['CUENTAORIGEN'].append(df['CUENTADESTINO']),df['MONTO'].append(df['MONTO'])],axis=1)

In [12]:
dcuentas.rename(index=str,columns={0:"CUENTAS"},inplace=True)
dcuentas.head()

   CUENTAS  MONTO
0     1031      9
1     1029     52
2     1003     97
3     1031      3
4     1095      3

In [13]:
cMM = dcuentas.groupby('CUENTAS').agg({'MONTO':'sum'}).sort_values(by='MONTO',ascending=False).head(5).reset_index().CUENTAS.values

In [14]:
print ('Las 5 cuentas de mayor monto involucrado son las cuentas número: %s' %','.join(map(str, cMM)))

Las 5 cuentas de mayor monto involucrado son las cuentas número: 1091,1053,1003,1096,1074

H. Para el tipo de transacción con mayor cantidad de monto promedio, indicar cuales son las 5 cuentas con más transacciones.

In [15]:
groupedTipo=df.groupby('TIPO').get_group(transaccionMayorMonto)
groupedTipo.head()

,NROTRANSACCION,TIPO,CUENTAORIGEN,CUENTADESTINO,FECHA,HORA,MONTO
2,2,extraccion,1003,1090,2008-03-01,11:57:30,97
8,8,extraccion,1065,1079,2008-04-05,10:32:37,15
12,12,extraccion,1005,1014,2008-01-31,02:37:46,86
13,13,extraccion,1083,1058,2008-01-12,16:42:47,68
16,16,extraccion,1089,1074,2008-10-11,04:29:42,66

In [16]:
tipoTransac = groupedTipo['CUENTAORIGEN'].append(groupedTipo['CUENTADESTINO'])
dfTran = pd.DataFrame()
dfTran['cuentas']=tipoTransac
dfTran['cant']=1
dfTran.head()

    cuentas  cant
2      1003     1
8      1065     1
12     1005     1
13     1083     1
16     1089     1

In [17]:
resH=dfTran.groupby('cuentas').agg({'cant':'sum'}).sort_values(by='cant',ascending=False).head(5).reset_index().cuentas.values

In [18]:
print ('Las 5 cuentas con mas transacciones para el tipo de transaccion con mayor cantidad de monto promedio son: %s' %', '.join(map(str, resH)))

Las 5 cuentas con mas transacciones para el tipo de transaccion con mayor cantidad de monto promedio son: 1096, 1089, 1025, 1091, 1077